<div class="container">
	<div class="card">
		<div class="card-image">
			<h2 class="card-heading">
				Get started
				<small>Create your account</small>
			</h2>
		</div>

<form class="card-form">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :photo,
                required: true %>
    <%= f.input :first_name,
                required: true %>
    <%= f.input :last_name,
                required: true %>
    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="action">
		<button class="action-button">Sign up </button>
	</div>
  </form>
<% end %>
</div>
</div>

<%= render "devise/shared/links"%>
