<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="<%= root_path %>" style="background-image: url('<%=image_path("human_logo.png")%>')">
    <img src="<%=image_path("human_logo.png")%>">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Create Persona", new_persona_path, class: "nav-link" %>
      </li>
      <li class="dropdown">
      <% if user_signed_in? %>
        <%= cl_image_tag current_user.photo.key, height: 50, width: 50, class: "avatar-large" %>
      <% else %>
        <a class="btn btn-ghost" href="#">Account</a>
      <% end %>
      <ul class="dropdown-content">
        <% if user_signed_in? %>
          <li><%= link_to "log-out", destroy_user_session_path, method: :delete %></li>
        <%else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </li>
  </ul>
  </div>
</div>
