<div class="container-m bg-white col-12">
  <div class="bookings">
    <% @personas.each do |persona| %>
      <% if persona.user == current_user %>
      <div class="dashboard-card">
        <div class="dashboard-img" style="background-image:url('<%= cl_image_path persona.photos.first.key%>')">
    	    <p><%= link_to persona.name, persona_path(persona) %></p>
        </div>
        <div class="dashboard-reviews">
        <% @reviews.each do |review| %>
        <% if review.booking.persona.name == persona.name %>
          <div class="review p-1">
           <h3><%= review.booking.user.first_name %></h3>
           <p><%= review.rating %>/5</p>
           <p><%= review.comment %></p>
          </div>
          <%end %>
        <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
