
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_path("lost.jpg")%>')">
    <div class="search__container">
      <p class="search__title">
      Looking for someone?
      </p>
      <%= form_tag personas_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search__input",
        placeholder: "Search",
        type: "text"
      %>
      <% end %>
      <%= link_to 'Our personas', personas_path, class: "btn-salmon" %>
   </div>
  </div>
      <%# <p>Looking for someone?</p> %>
      <%# don't be shy, look through our humans... %>



<div class="container col-10">
      <div class="cards-container">
        <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_path("couple.jpg")%>')">
         <a href= "http://localhost:3000/personas?query=family&commit=Search"> Rent a family </a>
        </div>

        <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_path("prom_date.jpg")%>')">
          <a href ="http://localhost:3000/personas?query=prom+date&commit=Search">Rent a promdate </a>
        </div>

        <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_path("party.jpg")%>')">
          <a href="http://localhost:3000/personas?query=party&commit=Search">Rent a party </a>
        </div>

        <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_path("girlfriend.jpg")%>')">
          <a href="http://localhost:3000/personas?query=girlfriend&commit=Search">Rent a girlfriend </a>
        </div>

        <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_path("boyfriend.jpg")%>')">
          <a href="http://localhost:3000/personas?query=boyfriend&commit=Search">Rent a boyfriend </a>
        </div>

        <div class="small-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_path("party.jpg")%>')">
          <a href="http://localhost:3000/personas?query=wizard&commit=Search">Rent a wizard </a>
        </div>
      </div>
</div>
