<div class="index-container bg-white">

<div class="map-container">
  <div id="map"
      style="width: 100%; height: 90vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

  <div class="personas">
    <% @personas.each do |persona| %>
      <div class="persona-card">
        <a href="<%= persona_path(persona) %>">
        <div class="card-img" style="background-image:url('<%= cl_image_path persona.photos.first.key%>')">
        </div>
        <div class="card-info">
         <%= link_to persona.name, persona_path(persona) %>
         <%= persona.location %>
         <p><%= persona.description %></p>
        </div>
        </a>
      </div>
    <% end %>

  </div>
</div>
  <div style="width: 100%; height: 100vh; background-color: red;" >
  </div>
