<div class="index-container bg-white">

<div class="map-container">
  <div id="map"
      style="width: 100%; height: 90vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<div>
    <div class="search__container_horizontal">
          <%= form_tag personas_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search__input",
            placeholder: "Search",
            type: "text"
          %>
        <% end %>
        <div class="buttons_index">
          <a href= "http://localhost:3000/personas?activity=family&commit=Search" class = "btn-blue"> Family </a>
          <a href ="http://localhost:3000/personas?activity=prom+date&commit=Search" class = "btn-blue"> Promdate </a>
          <a href="http://localhost:3000/personas?activity=party&commit=Search" class = "btn-blue"> Party </a>
          <a href="http://localhost:3000/personas?activity=wizard&commit=Search" class = "btn-blue">Wizard </a>
          <a href="http://localhost:3000/personas?activity=boyfriend&commit=Search" class = "btn-blue">Boyfriend </a>
          <a href="http://localhost:3000/personas?activity=girlfriend&commit=Search" class = "btn-blue">Girlfriend </a>
        </div>
    </div>
  <div class="personas">



<div id= "highlighted-card"> </div>
  <div class = "personas_container">
  </div>
      <% @personas.each do |persona| %>
        <div class="persona-card" data-persona-id="<%= persona.id %>" >
          <a href="<%= persona_path(persona) %>">
          <div class="card-img" style="background-image:url('<%= cl_image_path persona.photos.first.key%>')">
          </div>
          <div class="card-info">
          <%= link_to persona.name, persona_path(persona) %>
          <p id="location"><%= persona.location %></p>
          </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
