<div class="index-container bg-white">
  <div id="map"
      class="map"
      style="width: 40%; height: 90vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="personas">
    <div class="index-search"></div>
    <%= form_tag personas_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search__input",
      placeholder: "Search",
      type: "text"
    %>
    <% end %>

    <% @personas.each do |persona| %>
      <div class="persona-card">
        <a href="<%= persona_path(persona) %>">
        <div class="card-img" style="background-image:url('<%= cl_image_path persona.photos.first.key%>')">
        </div>
        <div class="card-info">
         <%= link_to persona.name, persona_path(persona) %>
         <p><%= persona.description %></p>
        </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
