<div class="container">
  <div class="card">

    <div class="card-image">
			<h2 class="card-heading">
				Get started
				<small>Create your Persona</small>
			</h2>
		</div>

    <%= simple_form_for @persona do |f| %>

    <div class="form-inputs">
      <%= f.input :name, required: true %>
      <%= f.input :description, required: true %>
      <%= f.input :location, required: true  %>
      <%= f.input :activity, required: true %>
      <%= f.input :photo, as: :file, required: true %>
      <%= f.input :photo, as: :file, required: true %>
      <%= f.input :photo, as: :file, required: true %>
      <%= f.input :photo, as: :file, required: true %>
      <%= f.input :photo, as: :file, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create" ,class: "action-button" %>
    </div>


  </div>
  <% end %>
</div>
