<h1>show page</h1>


<div class="show-container">
<ul>
  <li><%= @persona.name %></li>
  <li><%= @persona.location %></li>
  <li><%= @persona.description %></li>
  <%if @persona.photo.attached? %>
    <li><%= cl_image_tag( @persona.photo.key,
      width: 400, height: 300, crop: :fill) %>
    </li>
  <% end %>
</ul>
  <%= link_to 'add review', new_persona_review_path(@persona) %>
  <%= link_to 'back', personas_path %>
<%if current_user == @persona.user %>
  <%= link_to 'Delete', persona_path(@persona), method: :delete  %>
  <%= link_to 'Edit', edit_persona_path(@persona) %>
<%end %>

</div>
