
<div class="card">

<%# this is some info you can use %>
  <h1><%= @persona.name %></h1>
  <h3><%= @persona.location %></h3>
  <h4><%= @persona.description %></h4>

<%# this wil show all images just have to style them ;) %>
  <%if @persona.photos.attached? %>
      <% @persona.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 200 %>
      <%end %>
  <% end %>

<%# make these some nice buttons pls thanks :) %>
  <%= link_to 'add review', new_booking_review_path(@persona) %>
  <%= link_to 'back', personas_path %>
<%if current_user == @persona.user %>
  <%= link_to 'Delete', persona_path(@persona), method: :delete  %>
  <%= link_to 'Edit', edit_persona_path(@persona) %>
<%end %>
</div>
