
<div class="container-md bg-light">
<%# this wil show all images just have to style them ;) %>
<div class="pictures">
  <%# this is the big pic %>
  <div class="big-pics">
   <%if @persona.photo.attached? %>
      <% @persona.photo.each do |photo| %>
      <%= cl_image_tag photo.key, class: "pic-big" %>
      <%end %>
  <% end %>
  </div>
  <div class="small-pics">
  <%# these are the 4 small pics %>

  <% end %>
    <%if @persona.photo.attached? %>
      <% @persona.photo.each do |photo| %>
      <%= cl_image_tag photo.key, class: "pic-small" %>
      <%end %>
  <% end %>
    <%if @persona.photo.attached? %>
      <% @persona.photo.each do |photo| %>
      <%= cl_image_tag photo.key, class: "pic-small" %>
      <%end %>
  <% end %>
    <%if @persona.photo.attached? %>
      <% @persona.photo.each do |photo| %>
      <%= cl_image_tag photo.key, class: "pic-small" %>
      <%end %>
  <% end %>
  </div>

</div>
</div>


<div class="container bg-light d-flex flex-row">

<div class="col-8 m-0">
  <div class="info">
  <%# this is some info you can use %>
    <h1><%= @persona.name %></h1>
    <h3><%= @persona.location %></h3>
  </div>

  <div class="description ">
    <h4><%= @persona.description %></h4>
  </div>
</div>

<div class="form col-3">
  <p>form here pls </p>
</div>

</div>

<%# make these some nice buttons pls thanks :) %>
  <%= link_to 'add review', new_booking_review_path(@persona) %>
  <%= link_to 'back', personas_path %>
  <%if current_user == @persona.user %>
    <%= link_to 'Delete', persona_path(@persona), method: :delete  %>
    <%= link_to 'Edit', edit_persona_path(@persona) %>
  <%end %>
